<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div fxFlex="40">
    <md-card *ngIf="dish">
      <md-card-header>
        <md-card-title>
          {{dish.name | uppercase}}
        </md-card-title>
      </md-card-header>
      <img md-card-image src="{{dish.image}}" alt="{{dish.name}}">
      <md-card-content>
        <p>{{dish.description}}</p>
      </md-card-content>
      <md-card-actions>
          <button md-button (click)="goBack()">BACK</button>
        <button md-button>Like</button>
        <button md-button>Share</button>
      </md-card-actions>
    </md-card>

  </div>

  <div fxFlex="40" style="margin:auto">
    <h3>Comments</h3>
   <md-list *ngIf="dish">
     <md-list-item  class="comments" *ngFor="let comm of dish.comments">    
      {{comm.comment}}<br>
      {{comm.rating}} &nbsp;Stars<br>
      --{{comm.author}}&nbsp;&nbsp;{{comm.date | date}}
     </md-list-item>
   </md-list>
  </div>

</div>