<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div fxFlex="60">
    <md-card *ngIf="leader">
      <md-card-header>
        <md-card-title>
          {{leader.name | uppercase}}
        </md-card-title>
      </md-card-header>
      <img md-card-image src="{{leader.image}}" alt="{{leader.name}}">
      <md-card-content>
        <p>{{leader.description}}</p>
      </md-card-content>
      <md-card-actions>
          <button md-button (click)="goBack()">BACK</button>
        <button md-button>Like</button>
        <button md-button>Share</button>
      </md-card-actions>
    </md-card>

  </div>

</div>
